body{
  font-family: Helvetica, sans-serif;
   font-size: 17px;
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.subject-divs{
  display: flex;
  justify-content: center;
  align-items: center;
}

.biology{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  background-color: greenyellow;
  width: 450px;
  height: 650px;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  gap: 10px;
}

.subject-title{
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 40px;
  margin-bottom: 0px;
}

.checkbox-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 7px;
}

.checkbox-row{
  display: flex;
  align-items: center;
  gap: 10px;
}

h3{
  margin-top: 10px;
  text-decoration: underline;
  margin-bottom: 7px;
}
